@keyframes spreadout {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes Loading {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}