@import "../../scss/abstracts/mixins";


.logo-text {
    text-shadow: .5rem .4rem #e4dddd;
    font-weight: 500;
    letter-spacing: .1rem;
    font-family: 'Lobster', cursive;
    font-size: 3.4rem;
}

.landingpage__navigation {
    display: flex;
    list-style: none;
    position: relative;

    &-toggle {
        display: none !important;

        @include respond(phone) {
            display: inline !important;
            position: absolute;
            right: 2rem;
            font-size: 4rem !important;

        }
    }

    @include respond(phone) {
        z-index: 10;
        width: 100%;
        flex-direction: column;

    }

    &--list {
        display: flex;
        width: 100%;
        list-style: none;
        padding: 0rem 0rem;
        font-size: 1.5rem;

        @include respond(phone) {
            flex-direction: column;
            align-items: center;
            background-color: white;
            top: 0;
            position: absolute;
            justify-content: center;
            font-size: 2.5rem;
            height: 0%;
            opacity: 0;
        }

        li {
            padding: 2rem 0rem;
            font-weight: 500;
        }
    }

    .show-navigation {
        @include respond(phone) {
            height: 100vh;
            opacity: 1;
            animation-name: dropdown;
            animation-duration: 1s;
        }
    }

    .hide-navigation {
        @include respond(phone) {
            height: 0vh;
            opacity: 0;
            animation-name: closedropdown;
            animation-duration: 1s;
        }
    }

    &--logo {
        width: 35%;
        font-size: 3.4rem;
        padding: 2rem 0.8rem;
        overflow-x: hidden;

        @include respond(phone) {
            top: 0rem;
            z-index: 12;
            width: 100%;
            height: 100%;
        }

        &-background {
            background-color: rgba(var(--color-background-tertiary), .05);
            position: absolute;
            width: 42.5rem;
            height: 48.5rem;
            z-index: -5;
            left: 0rem;
            top: 0rem;
            border-radius: 85px;
            transform: rotate(-25deg) translateX(-5rem) translateY(-27rem);


        }




    }

    &--auth {
        display: flex;
        list-style: none;
        position: absolute;
        position: absolute;
        right: 0rem;
        padding: 0rem 4rem;

        @include respond(phone) {
            position: static;
            flex-direction: column;
            padding: 0rem;
        }


        li {
            padding: 1rem 3rem;

        }

        &-signup {
            background-color: var(--color-btn-primary);
            color: var(--color-background-secondary);
            box-shadow: var(--shadow-light);
            cursor: pointer;


            @include respond(phone) {
                font-size: 2.5rem !important;
                border-radius: 10rem !important;
                margin-top: 2rem;
            }
        }
    }

}

.navigation__item {
    padding: 3rem 3rem !important;

    @include respond(phone) {
        padding: 3rem 0rem !important;
    }

    .navigation__link {
        color: rgba(var(--color-text-dark), 1);

    }
}

@keyframes dropdown {
    0% {
        height: 0vh;
        opacity: 1
    }

    100% {
        height: 100vh;
        opacity: 1
    }
}

@keyframes closedropdown {
    0% {
        height: 100vh;
        opacity: 1
    }

    100% {
        height: 0vh;
        opacity: 0%
    }
}