.sidebar {
    background-color: var(--color-blue-secondary);
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 5rem 3.5rem 2rem 3.5rem;
    width: 20%;


   &-image {
    height: 18rem;
    margin: 5rem 0rem;
}

}
.sidebar-item {
    font-size: 0.9rem;
    display: flex;
    padding:  1.5rem;
    color: rgba(244, 244, 244, 0.9);
    border-radius: 0.4rem;
    transition: all .5s;

    .MuiSvgIcon-root {
        font-size: 2rem;
        color: rgba(249, 240, 240, 0.4);
    }

    &__active {
        background-color: rgba(var(--color-blue-secondary-2), 1);
        color: rgba(244, 244, 244, 1);

        .MuiSvgIcon-root {
            color: rgba(244, 244, 244, 1);
        }
    }

    &:hover {
        background-color: rgba(var(--color-blue-secondary-2), 0.2);
        transform: translateY(-0.5rem);
        cursor: pointer;
        color: rgba(244, 244, 244, 1);

        .MuiSvgIcon-root {
            color: rgba(244, 244, 244, 1);
        }
    }

}